.atari{
    color: white;
}
h1 {
    text-align: center;
}
h2 {
    font-size: 80px;
    text-align: center;
}

p {
    font-size: 40px;
    text-align: center;
}

#ee_footer{
    color:greenyellow;
}

#ee_footer:hover{
    cursor: help;
}


iframe{
    display: none;
}

@media only screen and (max-device-width: 900px) { /* movil */
    #adventure_movil{ 
        display: inline; 
    }
    .footer{
        position: absolute;
    }
}

.video_container {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iframe_video{
    height: 100%;
}

@media (min-device-width: 900px){
    #adventure_pc{ display: inline; }
    
}