.eggs{
    margin-bottom: 220px;
    margin-left: 5%;
    margin-right: 5%;
}

.eggs p{
    /* letter-spacing: 2px; */
    line-height: 30px;
}

.eggs_title h2{
    text-align: center;
    font-size: 60px;
}

#carrousel_img_principal:hover{
    cursor: alias;
}

.ee_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.ee_article img{
    width: 400px;
}

.batlefield_traduccion{
    color: var(--principal);
}

.fourth_wall{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.romeroaudio{
    
}

.metal_gear_portada{
    max-width: 300px;
    height: auto;
}

.metal_gear_code{
    max-width: 616px;
    height: auto;
}

.origami{
    max-width: 615px;
    height: auto;
}


