h1{
    font-size: 80px;
    text-align: center;
}
.konami_img{
    display: block;
      margin: 0 auto;
      width: 40%;
}
p{
    font-size: 30px;
    text-align: left;
    margin-left:10%;
    margin-right:10%;
}
.konami{
    margin-bottom:100px;
}
