/* body{
    background-color: black;
}

*{
    padding: 10px;
}

.menu_container{
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}


.icon{
    color: white;
    font-size: 75px;
}

.menu-show{
    display: none;
}

.menu img{
    width: 50px;
}

.logo img{
    width: 175px;
} */